* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  width: 500px;
  height: 60px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 24px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 80px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37),
    inset 0 0 10px rgba(255, 255, 255, 0.1);
  z-index: 1000;
}
.nav_list {
  display: flex;
  gap: 24px;
}
a {
  text-decoration: none;
}
ul {
  display: flex;
  gap: 24px;
  list-style: none;
}
section {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
.bg-1,
.bg-2,
.bg-3,
.bg-4 {
  min-height: 100vh;
  background: linear-gradient(180deg, #661264 0%, #000000 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-5 {
  min-height: 100vh;
  background: radial-gradient(circle, #661264 0%, #000000 100%);
}
