* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  width: 500px;
  height: 60px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 24px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 80px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37),
    inset 0 0 10px rgba(255, 255, 255, 0.1);
  z-index: 1000;
}
.nav_list {
  display: flex;
  gap: 24px;
}
a {
  text-decoration: none;
}
ul {
  display: flex;
  gap: 24px;
  list-style: none;
}
section {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
.bg-1,
.bg-2,
.bg-3,
.bg-4 {
  min-height: 100vh;
  background: linear-gradient(180deg, #661264 0%, #000000 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-5 {
  min-height: 100vh;
  background: radial-gradient(circle, #661264 0%, #000000 100%);
}

@font-face {
  font-family: "Kavoon";
  src: url(../fonts/Kavoon-Regular.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Knewave";
  src: url(../fonts/Knewave-Regular.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kings";
  src: url(../fonts/Kings-Regular.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Koulen";
  src: url(../fonts/Koulen-Regular.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.h1_nav {
  font-family: "Kavoon";
  color: white;
  font-size: 24px;
}
.nav_a {
  font-family: "Kavoon";
  color: white;
  font-size: 24px;
}

/* 1. O container pai precisa ter position: relative */
.right-side {
  position: relative;

  width: 50%;
}

/* 2. As imagens ficam "flutuando" sobre o fundo */
.spotify-container {
  position: absolute; /* Isso solta as imagens do fundo */
  top: -950px; /* Ajuste aqui para subir ou descer */
  right: -530px; /* Distância da borda direita */

  display: flex;
  flex-direction: column;
  gap: 0;
  z-index: 10; /* Garante que fique em cima de tudo */
}

.sopt1 img,
.sopt_2 img {
  display: block; /* Remove espaços extras */
  width: 600px;
}

.titulo-sobre {
  position: absolute; /* Isso solta as imagens do fundo */
  top: -940px; /* Ajuste aqui para subir ou descer */
  right: -65px; /* Distância da borda direita */
  font-family: "Knewave";
  z-index: 11;
  color: white;
  font-size: 40px;
}

.paragrafo_sobre {
  font-family: "Kings";
  color: white;
  position: absolute; /* Isso solta as imagens do fundo */
  top: -860px; /* Ajuste aqui para subir ou descer */
  right: -340px; /* Distância da borda direita */
  z-index: 11;
}
.paragrafo_do_lado {
  color: white;
  position: absolute;
  top: 230px;
  right: 80px;
  font-family: "Koulen";
}

.avatar {
  position: absolute;
  top: 39px;
  right: 300px;
}

.linha_1 {
  position: absolute;
  top: 15px;
  right: 77px;
}

.lyre {
  position: absolute;
  top: 660px;
  right: 77px;
}

.elipse_1 {
  position: absolute;
  top: 790px;
  right: 740px;
}

.elipse_2 {
  position: absolute;
  top: 540px;
  right: 40px;
}
