* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_bar {
  display: flex;
  justify-content: space-between; /* separa esquerda e direita */
  padding: 0 40px;
  gap: 24px;
  width: 546px;
  height: 79px;
  position: fixed;
  background-color: rgb(97, 97, 97);
  left: 50%;
  transform: translate(-50%);
  margin-top: 24px;
  border-radius: 80px;
  align-items: center;
}

.nav_list {
  display: flex;
  gap: 24px;
}

.link_nav {
  text-decoration: none;
}
ul {
  display: flex;
  gap: 24px;
}
