* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_bar {
  display: flex;
  justify-content: space-between; /* separa esquerda e direita */
  padding: 0 40px;
  gap: 24px;
  width: 546px;
  height: 79px;
  position: fixed;
  background-color: rgb(97, 97, 97);
  left: 50%;
  transform: translate(-50%);
  margin-top: 24px;
  border-radius: 80px;
  align-items: center;
}

.nav_list {
  display: flex;
  gap: 24px;
}
a {
  text-decoration: none;
}
ul {
  display: flex;
  gap: 24px;
  list-style: none;
}
section {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
.bg-1,
.bg-2,
.bg-3,
.bg-4 {
  min-height: 100vh;
  background: linear-gradient(180deg, #661264 0%, #000000 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-5 {
  min-height: 100vh;
  background: radial-gradient(circle, #661264 0%, #000000 100%);
}
